<div id="index" class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Client List</h2>
                <button *ngIf="!readonlycontrols" type="button" style="width: 80px;" class="btn btn-primary pull-right" (click)="ShowPopup()">
                    Create 
                   </button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="Clientstable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" data-backdrop="static" style="display: none;" id="myModal">
    <div class="col-md-12 col-sm-12">

        <div class="x_panel ">
            <div>
                <div>

                    <div class="x_title">
                        <h2>Add Client </h2>
                        <button (click)="HidePopup()" style="width: 90px;" class="btn btn-primary Back pull-right">Back</button>
                        <div class="clearfix"></div>
                    </div>
                    <form [formGroup]="clientform" (ngSubmit)="onSubmit()" method="post" novalidate>

                        <div class="x_content text-center">
                            <div class="form-group" style="margin-bottom: 50px;">
                                <label class="col-form-label col-md-2 col-sm-3 label-align">ClientName<span
                            class="required">*</span></label>
                            <div class="col-md-4 col-sm-3">
                                    <div [ngClass]="{ 'bad' : isSubmitted && f.clientName.errors }">
                                        <input [readonly]="readonlycontrols" name="clientName" class="form-control" formControlName="clientName" data-validate-length-range="50" [(ngModel)]="Model.clientName" placeholder="Ex:ABC" required="required">
                                    </div>
                                </div>
                                <!-- <div class="col-md-3 col-sm-3"></div>
                            </div>

                            &nbsp;

                        
                                <div class="form-group" style="margin-bottom: 50px;"> -->
                                    <label class="col-form-label col-md-2 col-sm-3 label-align">AddressLine1<span
                                class="required">*</span></label>
                                <div class="col-md-4 col-sm-3">
                                        <div [ngClass]="{ 'bad' : isSubmitted && f.addressline1.errors }">
                                            <input [readonly]="readonlycontrols" name="addressline1" class="form-control" formControlName="addressline1" data-validate-length-range="50" [(ngModel)]="Model.addressline1" placeholder="Ex: ABC" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3"></div>
                                </div>
    
                                &nbsp;
                                <div class="form-group" style="margin-bottom: 50px;">
                                    <label class="col-form-label col-md-2 col-sm-3 label-align">AddressLine2</label>
                                    <div class="col-md-4 col-sm-3">
                                        <!-- <div [ngClass]="{ 'bad' : isSubmitted && f.addressline2.errors }"> -->
                                            <input [readonly]="readonlycontrols" name="addressline2" class="form-control" formControlName="addressline2" data-validate-length-range="50" [(ngModel)]="Model.addressline2" placeholder="Ex: ABC">
                                        <!-- </div> -->
                                    </div>
                                    <!-- <div class="col-md-3 col-sm-3"></div>
                                </div>
                                &nbsp;
                                <div class="form-group" style="margin-bottom: 50px;"> -->
                                    <label class="col-form-label col-md-2 col-sm-3 label-align">Country<span
                                class="required">*</span></label>
                                <div class="col-md-4 col-sm-3">
                                        <div [ngClass]="{ 'bad' : isSubmitted && f.country.errors }">
                                            <select name="coun" (change)="CountryChange()" [attr.disabled]="readonlycontrols ? '' : null" class="form-control" formControlName="country" [(ngModel)]="Model.country" placeholder="Ex: Mysore" required="required">                                   
                                                <option *ngFor="let coun of CountryList" [value]="coun.countryId">{{coun.name}}</option>
                                            </select> 
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3"></div>
                                </div>
                                &nbsp;
                                
                             <div class="form-group" style="margin-bottom: 50px;">
                                    <label class="col-form-label col-md-2 col-sm-3 label-align">State<span
                                class="required">*</span></label>
                                <div class="col-md-4 col-sm-3">
                                        <div [ngClass]="{ 'bad' : isSubmitted && f.state.errors }">
                                            <select name="sta" (change)="StateChange()" [attr.disabled]="readonlycontrols ? '' : null" class="form-control" formControlName="state" [(ngModel)]="Model.state" placeholder="Ex: Mysore" required="required">                                   
                                                <option *ngFor="let sta of StateList" [value]="sta.stateId">{{sta.name}}</option>
                                            </select>                                        
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3 col-sm-3"></div>
                                </div>
                                &nbsp;
                                <div class="form-group" style="margin-bottom: 50px;"> -->
                                    <label class="col-form-label col-md-2 col-sm-3 label-align">City<span
                                class="required">*</span></label>
                                <div class="col-md-4 col-sm-3">
                                        <div [ngClass]="{ 'bad' : isSubmitted && f.city.errors }">
                                            <select name="ci" [attr.disabled]="readonlycontrols ? '' : null" class="form-control" formControlName="city" [(ngModel)]="Model.city" placeholder="Ex: Mysore" required="required">                                   
                                                <option *ngFor="let ci of CityList" [value]="ci.cityId">{{ci.name}}</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3"></div>
                                </div>
                                &nbsp; 
                                <div class="form-group" style="margin-bottom: 50px;">
                                    <label class="col-form-label col-md-2 col-sm-3 label-align">Pincode<span
                                class="required">*</span></label>
                                <div class="col-md-4 col-sm-3">
                                        <div [ngClass]="{ 'bad' : isSubmitted && f.pincode.errors }">
                                            <input [readonly]="readonlycontrols" type="number" min="0" name="pincode" class="form-control" formControlName="pincode" data-validate-length-range="50" [(ngModel)]="Model.pincode" placeholder="Ex: 5" required="required">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3 col-sm-3"></div>
                                </div>
                                &nbsp;
                               
                                
                                    <div class="form-group" style="margin-bottom: 50px;"> -->
                                        <label class="col-form-label col-md-2 col-sm-3 label-align">NDA Start Date <span
                                    class="required">*</span></label>
                                    <div class="col-md-4 col-sm-3">
                                            <div [ngClass]="{ 'bad' : isSubmitted && f.ndastartDate.errors }">
                                                <input [readonly]="readonlycontrols" type="date" min="7" name="ndastartDate" class="form-control" formControlName="ndastartDate" data-validate-length-range="50" [(ngModel)]="Model.ndastartDate" placeholder="Ex:20/6/2010" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3"></div>
                                    </div>
                                    &nbsp;
                                    <div class="form-group" style="margin-bottom: 50px;">
                                        <label class="col-form-label col-md-2 col-sm-3 label-align">NDA End Date <span
                                    class="required">*</span></label>
                                    <div class="col-md-4 col-sm-3">
                                            <div [ngClass]="{ 'bad' : isSubmitted && f.ndaendDate.errors }">
                                                <input [readonly]="readonlycontrols" type="date" min="7" name="ndaendDate" class="form-control" formControlName="ndaendDate" data-validate-length-range="50" [(ngModel)]="Model.ndaendDate" placeholder="Ex:20/6/2010" required="required">
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3 col-sm-3"></div>
                                    </div>
                                    &nbsp;
                                    <div class="form-group" style="margin-bottom: 50px;"> -->
                                        <label class="col-form-label col-md-2 col-sm-3 label-align">Contract Start Date <span
                                    class="required">*</span></label>
                                    <div class="col-md-4 col-sm-3">
                                            <div [ngClass]="{ 'bad' : isSubmitted && f.contractStartDate.errors }">
                                                <input [readonly]="readonlycontrols" type="date" min="7" name="contractStartDate" class="form-control" formControlName="contractStartDate" data-validate-length-range="50" [(ngModel)]="Model.contractStartDate" placeholder="Ex:20/6/2010" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3"></div>
                                    </div>
                                    &nbsp;
                                    <div class="form-group" style="margin-bottom: 50px;">
                                        <label class="col-form-label col-md-2 col-sm-3 label-align">Contract End Date <span
                                    class="required">*</span></label>
                                    <div class="col-md-4 col-sm-3">
                                            <div [ngClass]="{ 'bad' : isSubmitted && f.contractEndDate.errors }">
                                                <input [readonly]="readonlycontrols" type="date" min="7" name="contractEndDate" class="form-control" formControlName="contractEndDate" data-validate-length-range="50" [(ngModel)]="Model.contractEndDate" placeholder="Ex:20/6/2010" required="required">
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3 col-sm-3"></div>
                                    </div>
                                    &nbsp;
                                     <div class="form-group" style="margin-bottom: 50px;"> -->
                                            <label class="col-form-label col-md-2 col-sm-3 label-align">Type of Business</label>
                                            <div class="col-md-4 col-sm-3">
                                                <!-- <div [ngClass]="{ 'bad' : isSubmitted && f.typeofbusiness.errors }"> -->
                                                    <input [readonly]="readonlycontrols" name="typeOfBusiness" class="form-control" formControlName="typeOfBusiness" data-validate-length-range="50" [(ngModel)]="Model.typeOfBusiness" placeholder="Ex: ABC">
                                                <!-- </div> -->
                                            </div>
                                            <div class="col-md-3 col-sm-3"></div>
                                        </div>
            
                                        &nbsp;
                                        <div class="form-group" style="margin-bottom: 50px;">
                                            <label class="col-form-label col-md-2 col-sm-3 label-align">Specialization</label>
                                            <div class="col-md-4 col-sm-3">
                                                <!-- <div [ngClass]="{ 'bad' : isSubmitted && f.specialization.errors }"> -->
                                                    <input [readonly]="readonlycontrols" name="specialization" class="form-control" formControlName="specialization" data-validate-length-range="50" [(ngModel)]="Model.specialization" placeholder="Ex: ABC">
                                                <!-- </div> -->
                                            </div>
                                            <!-- <div class="col-md-3 col-sm-3"></div>
                                        </div>
            
                                        &nbsp;

                            <div class="form-group" style="margin-bottom: 50px;"> -->
                                <label class="col-form-label col-md-2 col-sm-3 label-align">Annual Revenue</label>
                                <div class="col-md-4 col-sm-3">
                                    <!-- <div [ngClass]="{ 'bad' : isSubmitted && f.annualrevenue.errors }"> -->
                                        <input [readonly]="readonlycontrols" type="number" min="0" name="annualRevenue" class="form-control" formControlName="annualRevenue" data-validate-length-range="50" [(ngModel)]="Model.annualRevenue" placeholder="Ex: 5">
                                    <!-- </div> -->
                                </div>
                                <div class="col-md-3 col-sm-3"></div>
                            </div>

                            &nbsp;

                            <div class="form-group" style="margin-bottom: 50px;">
                                <label class="col-form-label col-md-2 col-sm-3 label-align">Job Board URL</label>
                                <div class="col-md-4 col-sm-3">
                                    <!-- <div [ngClass]="{ 'bad' : isSubmitted && f.jobboardUrl.errors }"> -->
                                        <input [readonly]="readonlycontrols" name="jobBoardUrl" class="form-control" formControlName="jobBoardUrl" data-validate-length-range="50" [(ngModel)]="Model.jobBoardUrl" placeholder="Ex: ABC">
                                    <!-- </div> -->
                                </div>
                                <!-- <div class="col-md-3 col-sm-3"></div>
                            </div>

                            &nbsp;

                            <div class="form-group" style="margin-bottom: 50px;"> -->
                                <label class="col-form-label col-md-2 col-sm-3 label-align">Job Board UserId</label>
                                <div class="col-md-4 col-sm-3">
                                    <!-- <div [ngClass]="{ 'bad' : isSubmitted && f.jobboarduserId.errors }"> -->
                                        <input [readonly]="readonlycontrols" name="jobBoardUserId" class="form-control" formControlName="jobBoardUserId" data-validate-length-range="50" [(ngModel)]="Model.jobBoardUserId" placeholder="Ex: ABC">
                                    <!-- </div> -->
                                </div>
                                <div class="col-md-3 col-sm-3"></div>
                            </div>

                            &nbsp;

                            <div class="form-group" style="margin-bottom: 50px;">
                                <label class="col-form-label col-md-2 col-sm-3 label-align">Job Board Password</label>
                                <div class="col-md-4 col-sm-3">
                                        <input [readonly]="readonlycontrols"  name="jobBoardPassword" class="form-control" formControlName="jobBoardPassword" data-validate-length-range="50" [(ngModel)]="Model.jobBoardPassword" placeholder="Ex:Abc" >
                                   
                                </div>
                                <!-- <div class="col-md-3 col-sm-3"></div>
                            </div>

                            &nbsp;
                            <div class="form-group" style="margin-bottom: 50px;"> -->
                                <label class="col-form-label col-md-2 col-sm-3 label-align">Website</label>
                                <div class="col-md-4 col-sm-3">
                                    <!-- <div [ngClass]="{ 'bad' : isSubmitted && f.website.errors }"> -->
                                        <input [readonly]="readonlycontrols" name="website" class="form-control" formControlName="website" data-validate-length-range="50" [(ngModel)]="Model.website" placeholder="Ex: ABC">
                                    <!-- </div> -->
                                </div>
                                <div class="col-md-3 col-sm-3"></div>
                            </div>

                            &nbsp;
                           
                            <div class="text-center">
                                <button type="button" (click)="onSubmit()" style="width: 80px;" class="btn btn-primary">
                                    Save
                                   </button>
                                <button type="button" (click)="HidePopup()" style="width: 80px;" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="spin" *ngIf="loader">
    <mat-spinner class="custom-spinner-color"></mat-spinner>
</div>


