<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>PanelGroup List</h2>
                <button type="button" style="width: 80px;" class="btn btn-primary pull-right" (click)="ShowPopup()">
                    Add
                   </button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="PanelGrouptable" class="table table-striped table-bordered " cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal" data-keyboard="false" data-backdrop="static" id="myModal" role="dialog">
    <div class="modal-dialog centered text-center">
        <div class="modal-content">
            <form class="" action="" method="post" novalidate>

                <div class="modal-header">
                    <h4 class="modal-title">Add PanelGroup</h4>
                    <!-- <button type="button" class="close" (click)="HidePopup()">&times;</button> -->
                </div>
                <div class="modal-body">
                    <div class="field item form-group" style="margin-bottom: 50px;">
                        <label class="col-form-label col-md-3 col-sm-3  label-align">PanelGroup Name<span
                            class="required">*</span></label>
                        <div class="col-md-6 col-sm-6">
                            <div [ngClass]="{ 'bad' : isSubmitted && !Model.panelGroupName }">
                                <input name="PanelGroup" class="form-control" data-validate-length-range="25" [(ngModel)]="Model.panelGroupName" placeholder="Ex: HR" required="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="OnSubmit()" style="width: 80px;" class="btn btn-primary">
                    Save
                   </button>
                    <button type="button" (click)="HidePopup()" style="width: 80px;" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="spin" *ngIf="loader">
    <mat-spinner class="custom-spinner-color"></mat-spinner>
</div>